<form id="search" action="//www.bing.com/search">
    <input type="text" name="q" maxlength="64" placeholder="Search">
    <input type="hidden" name="site" value="{{ .Site.BaseURL }}">
    <button type="submit" class="submit icon-search"></button>
</form>
<script>
    document.getElementById('search').onsubmit = function () {
        var url = this.action;
        var q = this.children['q'].value;
        var site = this.children['site'].value;
        var url = url + '?q=site:' + site + ' ' + q;
        window.open(url);
        return false;
    };
</script>